

.policy-container {
    max-width: 960px;
    margin: 60px auto;
    padding: 50px;
    background-color: #1a1a1a;
    border: 1px solid #333; 
    border-radius: 4px; 
}


    .policy-container h1 {
        font-size: 2.8em;
        color: #e0a800; 
        margin-bottom: 30px;
        text-align: center;
        border-bottom: 1px solid #444;
        padding-bottom: 20px;
    }


    .policy-container h2 {
        font-size: 1.8em;
        color: #f5f5f5;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    
    .policy-container p {
        color: #ccc; 
        margin-bottom: 20px;
        line-height: 1.8; 
    }

    
    .policy-container ul {
        list-style-type: disc;
        padding-left: 30px;
        margin-bottom: 20px;
        color: #ccc;
    }

    .policy-container li {
        margin-bottom: 10px;
    }

    .social-icons {
    margin-top: 20px; 
}

    .social-icons a {
        display: inline-flex; 
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #555; 
        color: #aaa;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 1em; 
        transition: all 0.3s;
    }

        .social-icons a:hover {
            background-color: #e0a800;
            color: #1a1a1a !important;
            border-color: #e0a800;
            transform: translateY(-3px);
        }